@font-face {
    font-family: "EpicFont";
    src: url("earwig factory rg.otf") format("opentype");
    }
@font-face { font-family: "wow";
    src: url("wow.otf") format("opentype");
    }
@font-face {
    font-family: "whatinthe";
    src: url("PolarVortex-raAA.ttf") format("truetype");
    }
body {
    background-image: url("frenakitty.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}
h1 {
    font-family: "EpicFont";}

h2 {
    font-family: "wow"}
h3 {
    font-family: "whatinthe";}
